# Read The Dataset

In [4]:
import pandas as pd 
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from scipy import stats
import math
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score

df=pd.read_csv("C:\\Users\\nivet\\OneDrive\\Documents\\Dataset.csv", header=0, sep=',', encoding='Latin1',)

In [3]:
df.head()

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,24-03-2016 11:52,Golf_3_1.6,privat,Angebot,480,test,NaN,1993,manuell,0,golf,150000,0,benzin,volkswagen,NaN,24-03-2016 00:00,0.0,70435.0,07-04-2016 03:16
1,24-03-2016 10:58,A5_Sportback_2.7_Tdi,privat,Angebot,18300,test,coupe,2011,manuell,190,NaN,125000,5,diesel,audi,ja,24-03-2016 00:00,0.0,66954.0,07-04-2016 01:46
2,14-03-2016 12:52,"Jeep_Grand_Cherokee_""Overland""",privat,Angebot,9800,test,suv,2004,automatik,163,grand,125000,8,diesel,jeep,NaN,14-03-2016 00:00,0.0,90480.0,05-04-2016 12:47
3,17-03-2016 16:54,GOLF_4_1_4__3T RER,privat,Angebot,1500,test,kleinwagen,2001,manuell,75,golf,150000,6,benzin,volkswagen,nein,17-03-2016 00:00,0.0,91074.0,17-03-2016 17:40
4,31-03-2016 17:25,Skoda_Fabia_1.4_TDI_PD_Classic,privat,Angebot,3600,test,kleinwagen,2008,manuell,69,fabia,90000,7,diesel,skoda,nein,31-03-2016 00:00,0.0,60437.0,06-04-2016 10:17

In [4]:
df.shape

(79237, 20)

In [5]:
df.tail()

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
79232,27-03-2016 11:48,Volkswagen_Golf_1.6,privat,Angebot,1400,test,limousine,2001,manuell,105,golf,150000,12,benzin,volkswagen,nein,27-03-2016 00:00,0.0,77694.0,03-04-2016 06:18
79233,08-03-2016 18:47,Mercedes_Benz_C_180_Classic,privat,Angebot,1800,test,limousine,2002,manuell,129,c_klasse,150000,10,benzin,mercedes_benz,nein,08-03-2016 00:00,0.0,22549.0,23-03-2016 11:45
79234,15-03-2016 12:37,VW_Golf_1.4_im_guten_Zustand,privat,Angebot,2100,control,limousine,2000,manuell,75,golf,125000,4,benzin,volkswagen,nein,15-03-2016 00:00,0.0,29664.0,06-04-2016 00:16
79235,12-03-2016 01:56,Peugeot_RCZ_1.6_155_THP,privat,Angebot,17500,test,coupe,2014,manuell,156,andere,40000,5,benzin,peugeot,nein,12-03-2016 00:00,0.0,96450.0,12-03-2016 22:44
79236,27-03-2016 17:37,Volkswagen_Golf_2.0_GTI_281PS_/_406_Nm,privat,Angebot,16500,test,limousine,2011,manuell,281,golf,90000,8,benzin,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
df.size

1584740

In [7]:
df.columns

Index(['dateCrawled', 'name', 'seller', 'offerType', 'price', 'abtest',
       'vehicleType', 'yearOfRegistration', 'gearbox', 'powerPS', 'model',
       'kilometer', 'monthOfRegistration', 'fuelType', 'brand',
       'notRepairedDamage', 'dateCreated', 'nrOfPictures', 'postalCode',
       'lastSeen'],
      dtype='object')

In [8]:
df.info

<bound method DataFrame.info of             dateCrawled                                    name  seller  \
0      24-03-2016 11:52                              Golf_3_1.6  privat
1      24-03-2016 10:58                    A5_Sportback_2.7_Tdi  privat
2      14-03-2016 12:52          Jeep_Grand_Cherokee_"Overland"  privat
3      17-03-2016 16:54                      GOLF_4_1_4__3T RER  privat
4      31-03-2016 17:25          Skoda_Fabia_1.4_TDI_PD_Classic  privat
...                 ...                                     ...     ...
79232  27-03-2016 11:48                     Volkswagen_Golf_1.6  privat
79233  08-03-2016 18:47             Mercedes_Benz_C_180_Classic  privat
79234  15-03-2016 12:37            VW_Golf_1.4_im_guten_Zustand  privat
79235  12-03-2016 01:56                 Peugeot_RCZ_1.6_155_THP  privat
79236  27-03-2016 17:37  Volkswagen_Golf_2.0_GTI_281PS_/_406_Nm  privat

      offerType  price   abtest vehicleType  yearOfRegistration    gearbox  \
0       Angebot    480     test         NaN                1993    manuell
1       Angebot  18300     test       coupe                2011    manuell
2       Angebot   9800     test         suv                2004  automatik
3       Angebot   1500     test  kleinwagen                2001    manuell
4       Angebot   3600     test  kleinwagen                2008    manuell
...         ...    ...      ...         ...                 ...        ...
79232   Angebot   1400     test   limousine                2001    manuell
79233   Angebot   1800     test   limousine                2002    manuell
79234   Angebot   2100  control   limousine                2000    manuell
79235   Angebot  17500     test       coupe                2014    manuell
79236   Angebot  16500     test   limousine                2011    manuell

       powerPS     model  kilometer  monthOfRegistration fuelType  \
0            0      golf     150000                    0   benzin
1          190       NaN     125000                    5   diesel
2          163     grand     125000                    8   diesel
3           75      golf     150000                    6   benzin
4           69     fabia      90000                    7   diesel
...        ...       ...        ...                  ...      ...
79232      105      golf     150000                   12   benzin
79233      129  c_klasse     150000                   10   benzin
79234       75      golf     125000                    4   benzin
79235      156    andere      40000                    5   benzin
79236      281      golf      90000                    8   benzin

               brand notRepairedDamage       dateCreated  nrOfPictures  \
0         volkswagen               NaN  24-03-2016 00:00           0.0
1               audi                ja  24-03-2016 00:00           0.0
2               jeep               NaN  14-03-2016 00:00           0.0
3         volkswagen              nein  17-03-2016 00:00           0.0
4              skoda              nein  31-03-2016 00:00           0.0
...              ...               ...               ...           ...
79232     volkswagen              nein  27-03-2016 00:00           0.0
79233  mercedes_benz              nein  08-03-2016 00:00           0.0
79234     volkswagen              nein  15-03-2016 00:00           0.0
79235        peugeot              nein  12-03-2016 00:00           0.0
79236            NaN               NaN               NaN           NaN

       postalCode          lastSeen
0         70435.0  07-04-2016 03:16
1         66954.0  07-04-2016 01:46
2         90480.0  05-04-2016 12:47
3         91074.0  17-03-2016 17:40
4         60437.0  06-04-2016 10:17
...           ...               ...
79232     77694.0  03-04-2016 06:18
79233     22549.0  23-03-2016 11:45
79234     29664.0  06-04-2016 00:16
79235     96450.0  12-03-2016 22:44
79236         NaN               NaN

[79237 rows x 20 columns]>

In [9]:
df.nunique

<bound method DataFrame.nunique of             dateCrawled                                    name  seller  \
0      24-03-2016 11:52                              Golf_3_1.6  privat
1      24-03-2016 10:58                    A5_Sportback_2.7_Tdi  privat
2      14-03-2016 12:52          Jeep_Grand_Cherokee_"Overland"  privat
3      17-03-2016 16:54                      GOLF_4_1_4__3T RER  privat
4      31-03-2016 17:25          Skoda_Fabia_1.4_TDI_PD_Classic  privat
...                 ...                                     ...     ...
79232  27-03-2016 11:48                     Volkswagen_Golf_1.6  privat
79233  08-03-2016 18:47             Mercedes_Benz_C_180_Classic  privat
79234  15-03-2016 12:37            VW_Golf_1.4_im_guten_Zustand  privat
79235  12-03-2016 01:56                 Peugeot_RCZ_1.6_155_THP  privat
79236  27-03-2016 17:37  Volkswagen_Golf_2.0_GTI_281PS_/_406_Nm  privat

      offerType  price   abtest vehicleType  yearOfRegistration    gearbox  \
0       Angebot    480     test         NaN                1993    manuell
1       Angebot  18300     test       coupe                2011    manuell
2       Angebot   9800     test         suv                2004  automatik
3       Angebot   1500     test  kleinwagen                2001    manuell
4       Angebot   3600     test  kleinwagen                2008    manuell
...         ...    ...      ...         ...                 ...        ...
79232   Angebot   1400     test   limousine                2001    manuell
79233   Angebot   1800     test   limousine                2002    manuell
79234   Angebot   2100  control   limousine                2000    manuell
79235   Angebot  17500     test       coupe                2014    manuell
79236   Angebot  16500     test   limousine                2011    manuell

       powerPS     model  kilometer  monthOfRegistration fuelType  \
0            0      golf     150000                    0   benzin
1          190       NaN     125000                    5   diesel
2          163     grand     125000                    8   diesel
3           75      golf     150000                    6   benzin
4           69     fabia      90000                    7   diesel
...        ...       ...        ...                  ...      ...
79232      105      golf     150000                   12   benzin
79233      129  c_klasse     150000                   10   benzin
79234       75      golf     125000                    4   benzin
79235      156    andere      40000                    5   benzin
79236      281      golf      90000                    8   benzin

               brand notRepairedDamage       dateCreated  nrOfPictures  \
0         volkswagen               NaN  24-03-2016 00:00           0.0
1               audi                ja  24-03-2016 00:00           0.0
2               jeep               NaN  14-03-2016 00:00           0.0
3         volkswagen              nein  17-03-2016 00:00           0.0
4              skoda              nein  31-03-2016 00:00           0.0
...              ...               ...               ...           ...
79232     volkswagen              nein  27-03-2016 00:00           0.0
79233  mercedes_benz              nein  08-03-2016 00:00           0.0
79234     volkswagen              nein  15-03-2016 00:00           0.0
79235        peugeot              nein  12-03-2016 00:00           0.0
79236            NaN               NaN               NaN           NaN

       postalCode          lastSeen
0         70435.0  07-04-2016 03:16
1         66954.0  07-04-2016 01:46
2         90480.0  05-04-2016 12:47
3         91074.0  17-03-2016 17:40
4         60437.0  06-04-2016 10:17
...           ...               ...
79232     77694.0  03-04-2016 06:18
79233     22549.0  23-03-2016 11:45
79234     29664.0  06-04-2016 00:16
79235     96450.0  12-03-2016 22:44
79236         NaN               NaN

[79237 rows x 20 columns]>

In [10]:
print(df.seller.value_counts())

privat        79236
gewerblich        1
Name: seller, dtype: int64

In [11]:
df[df.seller != 'gewerblich']

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,24-03-2016 11:52,Golf_3_1.6,privat,Angebot,480,test,NaN,1993,manuell,0,golf,150000,0,benzin,volkswagen,NaN,24-03-2016 00:00,0.0,70435.0,07-04-2016 03:16
1,24-03-2016 10:58,A5_Sportback_2.7_Tdi,privat,Angebot,18300,test,coupe,2011,manuell,190,NaN,125000,5,diesel,audi,ja,24-03-2016 00:00,0.0,66954.0,07-04-2016 01:46
2,14-03-2016 12:52,"Jeep_Grand_Cherokee_""Overland""",privat,Angebot,9800,test,suv,2004,automatik,163,grand,125000,8,diesel,jeep,NaN,14-03-2016 00:00,0.0,90480.0,05-04-2016 12:47
3,17-03-2016 16:54,GOLF_4_1_4__3T RER,privat,Angebot,1500,test,kleinwagen,2001,manuell,75,golf,150000,6,benzin,volkswagen,nein,17-03-2016 00:00,0.0,91074.0,17-03-2016 17:40
4,31-03-2016 17:25,Skoda_Fabia_1.4_TDI_PD_Classic,privat,Angebot,3600,test,kleinwagen,2008,manuell,69,fabia,90000,7,diesel,skoda,nein,31-03-2016 00:00,0.0,60437.0,06-04-2016 10:17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79232,27-03-2016 11:48,Volkswagen_Golf_1.6,privat,Angebot,1400,test,limousine,2001,manuell,105,golf,150000,12,benzin,volkswagen,nein,27-03-2016 00:00,0.0,77694.0,03-04-2016 06:18
79233,08-03-2016 18:47,Mercedes_Benz_C_180_Classic,privat,Angebot,1800,test,limousine,2002,manuell,129,c_klasse,150000,10,benzin,mercedes_benz,nein,08-03-2016 00:00,0.0,22549.0,23-03-2016 11:45
79234,15-03-2016 12:37,VW_Golf_1.4_im_guten_Zustand,privat,Angebot,2100,control,limousine,2000,manuell,75,golf,125000,4,benzin,volkswagen,nein,15-03-2016 00:00,0.0,29664.0,06-04-2016 00:16
79235,12-03-2016 01:56,Peugeot_RCZ_1.6_155_THP,privat,Angebot,17500,test,coupe,2014,manuell,156,andere,40000,5,benzin,peugeot,nein,12-03-2016 00:00,0.0,96450.0,12-03-2016 22:44
79236,27-03-2016 17:37,Volkswagen_Golf_2.0_GTI_281PS_/_406_Nm,privat,Angebot,16500,test,limousine,2011,manuell,281,golf,90000,8,benzin,NaN,NaN,NaN,NaN,NaN,NaN