# Splitting Data Into Independent And Dependent Variables

In [1]:
import pandas as pd 
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from scipy import stats
import math
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score

df=pd.read_csv("C:\\Users\\nivet\\OneDrive\\Documents\\Dataset.csv", header=0, sep=',', encoding='Latin1',)

In [2]:
Independent=df.drop(['price'],axis=1)
Dependent=df['price']
Independent.head()

,dateCrawled,name,seller,offerType,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,24-03-2016 11:52,Golf_3_1.6,privat,Angebot,test,NaN,1993,manuell,0,golf,150000,0,benzin,volkswagen,NaN,24-03-2016 00:00,0.0,70435.0,07-04-2016 03:16
1,24-03-2016 10:58,A5_Sportback_2.7_Tdi,privat,Angebot,test,coupe,2011,manuell,190,NaN,125000,5,diesel,audi,ja,24-03-2016 00:00,0.0,66954.0,07-04-2016 01:46
2,14-03-2016 12:52,"Jeep_Grand_Cherokee_""Overland""",privat,Angebot,test,suv,2004,automatik,163,grand,125000,8,diesel,jeep,NaN,14-03-2016 00:00,0.0,90480.0,05-04-2016 12:47
3,17-03-2016 16:54,GOLF_4_1_4__3T RER,privat,Angebot,test,kleinwagen,2001,manuell,75,golf,150000,6,benzin,volkswagen,nein,17-03-2016 00:00,0.0,91074.0,17-03-2016 17:40
4,31-03-2016 17:25,Skoda_Fabia_1.4_TDI_PD_Classic,privat,Angebot,test,kleinwagen,2008,manuell,69,fabia,90000,7,diesel,skoda,nein,31-03-2016 00:00,0.0,60437.0,06-04-2016 10:17

In [3]:
Dependent.head()

0      480
1    18300
2     9800
3     1500
4     3600
Name: price, dtype: int64

In [4]:
Dependent.tail()

79232     1400
79233     1800
79234     2100
79235    17500
79236    16500
Name: price, dtype: int64

In [9]:
Independent.head()

,dateCrawled,name,seller,offerType,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,24-03-2016 11:52,Golf_3_1.6,privat,Angebot,test,NaN,1993,manuell,0,golf,150000,0,benzin,volkswagen,NaN,24-03-2016 00:00,0.0,70435.0,07-04-2016 03:16
1,24-03-2016 10:58,A5_Sportback_2.7_Tdi,privat,Angebot,test,coupe,2011,manuell,190,NaN,125000,5,diesel,audi,ja,24-03-2016 00:00,0.0,66954.0,07-04-2016 01:46
2,14-03-2016 12:52,"Jeep_Grand_Cherokee_""Overland""",privat,Angebot,test,suv,2004,automatik,163,grand,125000,8,diesel,jeep,NaN,14-03-2016 00:00,0.0,90480.0,05-04-2016 12:47
3,17-03-2016 16:54,GOLF_4_1_4__3T RER,privat,Angebot,test,kleinwagen,2001,manuell,75,golf,150000,6,benzin,volkswagen,nein,17-03-2016 00:00,0.0,91074.0,17-03-2016 17:40
4,31-03-2016 17:25,Skoda_Fabia_1.4_TDI_PD_Classic,privat,Angebot,test,kleinwagen,2008,manuell,69,fabia,90000,7,diesel,skoda,nein,31-03-2016 00:00,0.0,60437.0,06-04-2016 10:17

In [10]:
Independent.tail()

,dateCrawled,name,seller,offerType,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
79232,27-03-2016 11:48,Volkswagen_Golf_1.6,privat,Angebot,test,limousine,2001,manuell,105,golf,150000,12,benzin,volkswagen,nein,27-03-2016 00:00,0.0,77694.0,03-04-2016 06:18
79233,08-03-2016 18:47,Mercedes_Benz_C_180_Classic,privat,Angebot,test,limousine,2002,manuell,129,c_klasse,150000,10,benzin,mercedes_benz,nein,08-03-2016 00:00,0.0,22549.0,23-03-2016 11:45
79234,15-03-2016 12:37,VW_Golf_1.4_im_guten_Zustand,privat,Angebot,control,limousine,2000,manuell,75,golf,125000,4,benzin,volkswagen,nein,15-03-2016 00:00,0.0,29664.0,06-04-2016 00:16
79235,12-03-2016 01:56,Peugeot_RCZ_1.6_155_THP,privat,Angebot,test,coupe,2014,manuell,156,andere,40000,5,benzin,peugeot,nein,12-03-2016 00:00,0.0,96450.0,12-03-2016 22:44
79236,27-03-2016 17:37,Volkswagen_Golf_2.0_GTI_281PS_/_406_Nm,privat,Angebot,test,limousine,2011,manuell,281,golf,90000,8,benzin,NaN,NaN,NaN,NaN,NaN,NaN